<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert  here</title>
<link rel="stylesheet" type="text/css" href="Design.css"></link>
</head>
<script src="validation.js"></script>
<body id="animate-area" >

<script  th:inline="javascript">
/*<![CDATA[*/
window.onload = function (){
	
	var time = [[${timer}]];
	var ques=[[${ques}]];
	alert(time);
	alert(ques);
	
	//var quiztime=document.getElementById('txtbox').value;
	//quiztimeinsec= quiztime * 60;
	quiztimeinsec= time * 60;
	countDown(quiztimeinsec,"status","bar");

}

function countDown(secs,elem,bar) {
	
	var element = document.getElementById(elem);
	var barV = document.getElementById(bar);
	
	element.innerHTML = "Time left  "+secs+" seconds";
	//barV.innerHTML=" <meter high="+(secs-10)/100+" low="+(secs-40)/100+" max="+secs/100+" optimum="+secs/100+" value="+secs/100+"></meter>"
	barV.innerHTML=" <meter high=1 low=0.2 max=1.2 optimum=1.2 value="+secs/100+"></meter>"
	if(secs < 1) {
		clearTimeout(timer);
		element.innerHTML = '<h2><a href="/allQuiz">See Result Log</a></h2>';
		window.location="http://localhost:8080/allQuiz";
	}
	secs--;
	var timer = setTimeout('countDown('+secs+',"'+elem+'","'+bar+'")',1000);
}
/*]]>*/
</script>
<div id="status"></div>
<div id="bar"></div>


<table align="center">
<tr>
<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
<th>

</th>
<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</th>
</tr>
</table>

</body>
</html>