<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="Design.css"></link>
</head>
<body id="animate-area" align="center" >
<header id="header">
			<div class="innertube">
				<p><h1><font color="white" face="Comic Sans MS">WELCOME TO SURPRISE QUESTION</font></h1></p>
			</div>
		</header>
				
		<main>
			<div class="innertube" >
<br></br>

<table align="center" cellspacing="10" cellspadding="10">
<tr>
<th>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</th>
<th><h1><font color="#390D69" face="Comic Sans MS">ALL STUDENT DETAILS</font></h1></th>
</tr>
<tr>
<th></th>
<th>
	<table border="1"  cellspacing="10" cellspadding="10" id="animate-area1" >
	<tr>
	<th ><font color="#390D69" face="Comic Sans MS" size="4">Quiz Id</font></th>
	<th ><font color="#390D69" face="Comic Sans MS" size="4">Name</font></th>
	<th><font color="#390D69" face="Comic Sans MS" size="4">Roll Number</font></th>
	<th><font color="#390D69" face="Comic Sans MS" size="4">Response</font></th>
	
	
	</tr>
	
	<tr th:each = "q:${quizstudent}">
	<th th:text = "${q.quizId}"></th>
	<th th:text = "${q.name}"></th>
	<th th:text = "${q.rollnumber}"></th>
	<th th:text = "${q.response}"></th>
	</tr>
	
</table>
</th>

</tr>
<tr>
<th></th>
<th>

<font color="#4CA3DC" face="Comic Sans MS">GO BACK</font><br></br><a href="/welcome">
           <img src="images/back.bmp" width="50" height="50" /></a>
</th>
<th></th>
</tr>
</table></div>
		</main>

		<nav id="left">
			<div class="innertube" >
				<h2>Welcome</h2>
				<ul>
					<li>Mr abc</li>
					<li>IIITDelhi</li>
					<li><a href="#">Link 3</a></li>
					<li><a href="#">Link 4</a></li>
					<li><a href="#">Link 5</a></li>
				</ul>
				<h1>Heading</h1>
				<ul>
					<li><a href="#">Link 1</a></li>
					<li><a href="#">Link 2</a></li>
					<li><a href="#">Link 3</a></li>
					<li><a href="#">Link 4</a></li>
					<li><a href="#">Link 5</a></li>
				</ul>

			</div>
		</nav>	
		<div id="right">
			<div class="innertube" >
				<p>Go Back</p>
			</div>
		</div>
		
		<footer id="footer">
			<div class="innertube">
				<p>@Copyright of IIITD..     By Ricktam, Kajal, Neha</p>
			</div>
		</footer>	


</body>

</html>