<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert  here</title>
<link rel="stylesheet" type="text/css" href="Design.css"></link>
</head>

<body id="animate-area" align="center" >
<header id="header">
			<div class="innertube">
				<p><h1><font color="white" face="Comic Sans MS">WELCOME TO SURPRISE QUESTION</font></h1></p>
			</div>
		</header>
				
		<main>
			<div class="innertube" >
				
				<h2><font color="yellow" face="Comic Sans MS">LETS START</font></h2>
				<div class="timer_div"></div>
<table align="center">
<tr>
<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
<th>

<form action="/addquizdetails" onsubmit="return function">
<fieldset >
    <legend>Ready for Quiz</legend>
<font color="#400040" face="Comic Sans MS">
Choose The Subject<br></br>
<input type="radio" name="pcsma" />PCSMA
<input type="radio" name="mc" />Mobile Computing
<input type="radio" name="Networking"/>Networking<br></br><br></br>

Enter the Question<br></br>
<input type="text" name="ques" id="ques" value="Question you know?" />&nbsp;&nbsp;&nbsp;&nbsp;
<br></br><br></br>

Set Timer Time<br></br>
 <input type="number" name="timer" id="timer" value="1"/>&nbsp;&nbsp;&nbsp;&nbsp;
<br></br><br></br>
 
 Answer<br></br>
 <input type="text" name="answer" value="NA" />&nbsp;&nbsp;&nbsp;&nbsp;
<br></br><br></br>
 </font>
 <input type="submit" name="Start"/><br></br>
 </fieldset>
</form>
</th>

</tr>


</table>
				
			</div>
		</main>

		<nav id="left">
			<div class="innertube" >
				<h2>Welcome</h2>
				<ul>
					<li>Mr abc</li>
					<li>IIITDelhi</li>
					<li><a href="#">Link 3</a></li>
					<li><a href="#">Link 4</a></li>
					<li><a href="#">Link 5</a></li>
				</ul>
				<h1>Heading</h1>
				<ul>
					<li><a href="#">Link 1</a></li>
					<li><a href="#">Link 2</a></li>
					<li><a href="#">Link 3</a></li>
					<li><a href="#">Link 4</a></li>
					<li><a href="#">Link 5</a></li>
				</ul>

			</div>
		</nav>	
		<div id="right">
			<div class="innertube" >
				<p>Go Back</p>
			</div>
		</div>
		
		<footer id="footer">
			<div class="innertube">
				<p>@Copyright of IIITD..     By Ricktam, Kajal, Neha</p>
				<img src="images/iiitd.png" width="84" height="47"/>
			</div>
		</footer>	


</body>


</html>