<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert  here</title>
<link rel="stylesheet" type="text/css" href="Design.css"></link>
</head>

<body id="animate-area" align="center" >
<br></br><br></br>
<h1><font color="#390D69" face="Comic Sans MS">WELCOME TO SURPRISE QUESTION</font></h1>
<br></br><br></br>
<form action="/login">
    <input type="submit" value="Login"/>
</form>
<br></br><br></br>
<form action="/register">
    <input type="submit" value="Register"/>
</form>

</body>
</html>